In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix

In [38]:
B = pd.read_csv('bank.csv')
B.head()

,age,job,marital,education,default,balance,housing-loan,personal-loan,current-campaign,previous-campaign,subscribed
0,30,unemployed,married,primary,no,1787,no,no,1,0,no
1,33,services,married,secondary,no,4789,yes,yes,1,4,no
2,35,management,single,tertiary,no,1350,yes,no,1,1,no
3,30,management,married,tertiary,no,1476,yes,yes,4,0,no
4,59,blue-collar,married,secondary,no,0,yes,no,1,0,no

In [39]:
B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                4521 non-null   int64
 1   job                4521 non-null   object
 2   marital            4521 non-null   object
 3   education          4521 non-null   object
 4   default            4521 non-null   object
 5   balance            4521 non-null   int64
 6   housing-loan       4521 non-null   object
 7   personal-loan      4521 non-null   object
 8   current-campaign   4521 non-null   int64
 9   previous-campaign  4521 non-null   int64
 10  subscribed         4521 non-null   object
dtypes: int64(4), object(7)
memory usage: 388.6+ KB

In [40]:
B['subscribed'].value_counts()

no     4000
yes     521
Name: subscribed, dtype: int64

In [41]:
from sklearn.utils import resample

In [42]:
bsn = B[B['subscribed']=='no']
bsy = B[B['subscribed'] =='yes']

In [43]:
BMU = resample(bsy, replace=True, n_samples=2000, random_state=42)   # bank minority unsampled

In [44]:
NB = pd.concat([bsn, BMU])         # new bank
NB['subscribed'].value_counts()

no     4000
yes    2000
Name: subscribed, dtype: int64

In [45]:
# NB = shuffle(NB)

In [46]:
Xf = list(NB.columns)
Xf.remove('subscribed')
Xf

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing-loan',
 'personal-loan',
 'current-campaign',
 'previous-campaign']

In [47]:
EB = pd.get_dummies(NB[Xf], drop_first=True)
X = EB
X

,age,balance,current-campaign,previous-campaign,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,...,job_unemployed,job_unknown,marital_married,marital_single,education_secondary,education_tertiary,education_unknown,default_yes,housing-loan_yes,personal-loan_yes
0,30,1787,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,33,4789,1,4,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,1
2,35,1350,1,1,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,1,0
3,30,1476,4,0,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,1
4,59,0,1,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,35,7050,3,4,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1177,28,4579,2,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0
3498,58,462,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4366,59,0,1,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
4328,49,3608,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0

In [48]:
Y = NB['subscribed'].map(lambda x: int(x=='yes'))

In [49]:
Cmat = X.corr().abs()

In [50]:
Cmat

,age,balance,current-campaign,previous-campaign,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,...,job_unemployed,job_unknown,marital_married,marital_single,education_secondary,education_tertiary,education_unknown,default_yes,housing-loan_yes,personal-loan_yes
age,1.000000,0.116661,0.017923,0.001506,0.066583,0.004310,0.082258,0.067890,0.525063,0.006086,...,0.004726,0.078146,0.273028,0.423815,0.098799,0.113228,0.094899,0.008845,0.194625,0.026840
balance,0.116661,1.000000,0.012778,0.030651,0.066231,0.000353,0.058340,0.040634,0.097046,0.005872,...,0.017251,0.001199,0.026961,0.008208,0.082181,0.073698,0.029869,0.072134,0.045138,0.072443
current-campaign,0.017923,0.012778,1.000000,0.088047,0.018551,0.015274,0.012967,0.036582,0.046458,0.042065,...,0.015985,0.016831,0.017385,0.010400,0.022921,0.023740,0.011159,0.014455,0.012254,0.041865
previous-campaign,0.001506,0.030651,0.088047,1.000000,0.030009,0.027656,0.031959,0.004984,0.011355,0.020565,...,0.019691,0.003907,0.014900,0.041845,0.030310,0.014123,0.018997,0.036346,0.002664,0.045438
job_blue-collar,0.066583,0.066231,0.018551,0.030009,1.000000,0.092666,0.077608,0.257391,0.129608,0.098380,...,0.081728,0.050548,0.092239,0.073857,0.062857,0.306804,0.006547,0.001397,0.202778,0.032115
job_entrepreneur,0.004310,0.000353,0.015274,0.027656,0.092666,1.000000,0.030826,0.102235,0.051480,0.039076,...,0.032462,0.020077,0.058772,0.057149,0.045030,0.033271,0.024552,0.049362,0.023786,0.043399
job_housemaid,0.082258,0.058340,0.012967,0.031959,0.077608,0.030826,1.000000,0.085622,0.043114,0.032726,...,0.027187,0.016815,0.028146,0.050178,0.074172,0.050027,0.006021,0.023249,0.083101,0.010175
job_management,0.067890,0.040634,0.036582,0.004984,0.257391,0.102235,0.085622,1.000000,0.142992,0.108539,...,0.090167,0.055768,0.024646,0.030925,0.409287,0.580526,0.038183,0.020744,0.035294,0.035393
job_retired,0.525063,0.097046,0.046458,0.011355,0.129608,0.051480,0.043114,0.142992,1.000000,0.054654,...,0.045403,0.028082,0.056648,0.138788,0.028552,0.074505,0.012425,0.017228,0.179368,0.025532
job_self-employed,0.006086,0.005872,0.042065,0.020565,0.098380,0.039076,0.032726,0.108539,0.054654,1.000000,...,0.034464,0.021316,0.011318,0.000530,0.071686,0.110664,0.001386,0.002326,0.041987,0.000165
job_services,0.083832,0.037140,0.007141,0.008912,0.147689,0.058662,0.049129,0.162940,0.082048,0.062279,...,0.051737,0.031999,0.047173,0.034264,0.218513,0.172477,0.017466,0.004201,0.068404,0.019538
job_student,0.223156,0.000854,0.028510,0.067275,0.076547,0.030404,0.025463,0.084451,0.042525,0.032279,...,0.026815,0.016585,0.166188,0.225817,0.017588,0.019814,0.054944,0.011002,0.114178,0.059221
job_technician,0.078485,0.016806,0.009257,0.021338,0.214062,0.085025,0.071208,0.236168,0.118921,0.090268,...,0.074989,0.046380,0.045138,0.074242,0.158559,0.039765,0.031709,0.025254,0.011468,0.001117
job_unemployed,0.004726,0.017251,0.015985,0.019691,0.081728,0.032462,0.027187,0.090167,0.045403,0.034464,...,1.000000,0.017708,0.017429,0.021730,0.008329,0.032189,0.024483,0.003623,0.045582,0.027961
job_unknown,0.078146,0.001199,0.016831,0.003907,0.050548,0.020077,0.016815,0.055768,0.028082,0.021316,...,0.017708,1.000000,0.046756,0.025647,0.069720,0.028271,0.199019,0.013059,0.104605,0.031748
marital_married,0.273028,0.026961,0.017385,0.014900,0.092239,0.058772,0.028146,0.024646,0.056648,0.011318,...,0.017429,0.046756,1.000000,0.756131,0.006898,0.107336,0.032966,0.046573,0.043815,0.034967
marital_single,0.423815,0.008208,0.010400,0.041845,0.073857,0.057149,0.050178,0.030925,0.138788,0.000530,...,0.021730,0.025647,0.756131,1.000000,0.001183,0.125847,0.031734,0.013052,0.041828,0.058569
education_secondary,0.098799,0.082181,0.022921,0.030310,0.062857,0.045030,0.074172,0.409287,0.028552,0.071686,...,0.008329,0.069720,0.006898,0.001183,1.000000,0.672628,0.206410,0.026546,0.103907,0.069069
education_tertiary,0.113228,0.073698,0.023740,0.014123,0.306804,0.033271,0.050027,0.580526,0.074505,0.110664,...,0.032189,0.028271,0.107336,0.125847,0.672628,1.000000,0.137548,0.033666,0.084217,0.036121
education_unknown,0.094899,0.029869,0.011159,0.018997,0.006547,0.024552,0.006021,0.038183,0.012425,0.001386,...,0.024483,0.199019,0.032966,0.031734,0.206410,0.137548,1.000000,0.015647,0.048631,0.063510
default_yes,0.008845,0.072134,0.014455,0.036346,0.001397,0.049362,0.023249,0.020744,0.017228,0.002326,...,0.003623,0.013059,0.046573,0.013052,0.026546,0.033666,0.015647,1.000000,0.000736,0.058329
housing-loan_yes,0.194625,0.045138,0.012254,0.002664,0.202778,0.023786,0.083101,0.035294,0.179368,0.041987,...,0.045582,0.104605,0.043815,0.041828,0.103907,0.084217,0.048631,0.000736,1.000000,0.048612
personal-loan_yes,0.026840,0.072443,0.041865,0.045438,0.032115,0.043399,0.010175,0.035393,0.025532,0.000165,...,0.027961,0.031748,0.034967,0.058569,0.069069,0.036121,0.063510,0.058329,0.048612,1.000000

In [51]:
upper = Cmat.where(np.triu(np.ones(Cmat.shape),k=1).astype(bool))
upper

,age,balance,current-campaign,previous-campaign,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,...,job_unemployed,job_unknown,marital_married,marital_single,education_secondary,education_tertiary,education_unknown,default_yes,housing-loan_yes,personal-loan_yes
age,NaN,0.116661,0.017923,0.001506,0.066583,0.004310,0.082258,0.067890,0.525063,0.006086,...,0.004726,0.078146,0.273028,0.423815,0.098799,0.113228,0.094899,0.008845,0.194625,0.026840
balance,NaN,NaN,0.012778,0.030651,0.066231,0.000353,0.058340,0.040634,0.097046,0.005872,...,0.017251,0.001199,0.026961,0.008208,0.082181,0.073698,0.029869,0.072134,0.045138,0.072443
current-campaign,NaN,NaN,NaN,0.088047,0.018551,0.015274,0.012967,0.036582,0.046458,0.042065,...,0.015985,0.016831,0.017385,0.010400,0.022921,0.023740,0.011159,0.014455,0.012254,0.041865
previous-campaign,NaN,NaN,NaN,NaN,0.030009,0.027656,0.031959,0.004984,0.011355,0.020565,...,0.019691,0.003907,0.014900,0.041845,0.030310,0.014123,0.018997,0.036346,0.002664,0.045438
job_blue-collar,NaN,NaN,NaN,NaN,NaN,0.092666,0.077608,0.257391,0.129608,0.098380,...,0.081728,0.050548,0.092239,0.073857,0.062857,0.306804,0.006547,0.001397,0.202778,0.032115
job_entrepreneur,NaN,NaN,NaN,NaN,NaN,NaN,0.030826,0.102235,0.051480,0.039076,...,0.032462,0.020077,0.058772,0.057149,0.045030,0.033271,0.024552,0.049362,0.023786,0.043399
job_housemaid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.085622,0.043114,0.032726,...,0.027187,0.016815,0.028146,0.050178,0.074172,0.050027,0.006021,0.023249,0.083101,0.010175
job_management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.142992,0.108539,...,0.090167,0.055768,0.024646,0.030925,0.409287,0.580526,0.038183,0.020744,0.035294,0.035393
job_retired,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.054654,...,0.045403,0.028082,0.056648,0.138788,0.028552,0.074505,0.012425,0.017228,0.179368,0.025532
job_self-employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.034464,0.021316,0.011318,0.000530,0.071686,0.110664,0.001386,0.002326,0.041987,0.000165
job_services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.051737,0.031999,0.047173,0.034264,0.218513,0.172477,0.017466,0.004201,0.068404,0.019538
job_student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.026815,0.016585,0.166188,0.225817,0.017588,0.019814,0.054944,0.011002,0.114178,0.059221
job_technician,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.074989,0.046380,0.045138,0.074242,0.158559,0.039765,0.031709,0.025254,0.011468,0.001117
job_unemployed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.017708,0.017429,0.021730,0.008329,0.032189,0.024483,0.003623,0.045582,0.027961
job_unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.046756,0.025647,0.069720,0.028271,0.199019,0.013059,0.104605,0.031748
marital_married,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.756131,0.006898,0.107336,0.032966,0.046573,0.043815,0.034967
marital_single,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.001183,0.125847,0.031734,0.013052,0.041828,0.058569
education_secondary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.672628,0.206410,0.026546,0.103907,0.069069
education_tertiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.137548,0.033666,0.084217,0.036121
education_unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015647,0.048631,0.063510
default_yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000736,0.058329
housing-loan_yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048612
personal-loan_yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
Drop = [column for column in upper.columns if any(upper[column]>0.80)]
Drop

[]

In [53]:
X.drop(Drop, axis=1, inplace=True)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6000 entries, 0 to 4328
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  6000 non-null   int64
 1   balance              6000 non-null   int64
 2   current-campaign     6000 non-null   int64
 3   previous-campaign    6000 non-null   int64
 4   job_blue-collar      6000 non-null   uint8
 5   job_entrepreneur     6000 non-null   uint8
 6   job_housemaid        6000 non-null   uint8
 7   job_management       6000 non-null   uint8
 8   job_retired          6000 non-null   uint8
 9   job_self-employed    6000 non-null   uint8
 10  job_services         6000 non-null   uint8
 11  job_student          6000 non-null   uint8
 12  job_technician       6000 non-null   uint8
 13  job_unemployed       6000 non-null   uint8
 14  job_unknown          6000 non-null   uint8
 15  marital_married      6000 non-null   uint8
 16  marital_single       6000 non-null   uint8
 17  education_secondary  6000 non-null   uint8
 18  education_tertiary   6000 non-null   uint8
 19  education_unknown    6000 non-null   uint8
 20  default_yes          6000 non-null   uint8
 21  housing-loan_yes     6000 non-null   uint8
 22  personal-loan_yes    6000 non-null   uint8
dtypes: int64(4), uint8(19)
memory usage: 345.7 KB

### IPL Dataset

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
I = pd.read_excel('IPL Raw Data.xlsx')
I

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR -B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.000000,0,307,15,20.466667,8.898551,13.933333,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.000000,0,29,0,0.000000,14.500000,0.000000,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.014493,5,1059,29,36.517241,8.810316,24.896552,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.315789,0,1125,49,22.959184,6.232687,22.142857,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.714940,28,0,0,0.000000,0.000000,0.000000,2011,100000,800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.640000,2,0,0,0.000000,0.000000,0.000000,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.850000,0,0,0,0.000000,0.000000,0.000000,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.876333,67,569,23,24.739130,7.024691,21.130435,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.666667,1,1783,65,27.430769,7.745439,21.261538,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.220000,0,99,2,49.500000,9.000000,33.000000,2008,100000,110000

In [20]:
I.drop(['Sl.NO.','PLAYER NAME','TEAM'], axis=1 , inplace = True)

In [21]:
I.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            130 non-null    int64
 1   COUNTRY        130 non-null    object
 2   PLAYING ROLE   130 non-null    object
 3   T-RUNS         130 non-null    int64
 4   T-WKTS         130 non-null    int64
 5   ODI-RUNS-S     130 non-null    int64
 6   ODI-SR-B       130 non-null    float64
 7   ODI-WKTS       130 non-null    int64
 8   ODI-SR-BL      130 non-null    float64
 9   CAPTAINCY EXP  130 non-null    int64
 10  RUNS-S         130 non-null    int64
 11  HS             130 non-null    int64
 12  AVE            130 non-null    float64
 13  SR -B          130 non-null    float64
 14  SIXERS         130 non-null    int64
 15  RUNS-C         130 non-null    int64
 16  WKTS           130 non-null    int64
 17  AVE-BL         130 non-null    float64
 18  ECON           130 non-null    float64
 19  SR-BL          130 non-null    float64
 20  AUCTION YEAR   130 non-null    int64
 21  BASE PRICE     130 non-null    int64
 22  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(14), object(2)
memory usage: 23.5+ KB

In [22]:
Xf=I.columns[:-3]
Xf

Index(['AGE', 'COUNTRY', 'PLAYING ROLE', 'T-RUNS', 'T-WKTS', 'ODI-RUNS-S',
       'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL', 'CAPTAINCY EXP', 'RUNS-S', 'HS ',
       'AVE', 'SR -B', 'SIXERS', 'RUNS-C', 'WKTS', 'AVE-BL', 'ECON', 'SR-BL'],
      dtype='object')

In [23]:
I['PLAYING ROLE'].unique()

array(['Allrounder', 'Bowler', 'Batsman', 'W. Keeper'], dtype=object)

In [24]:
pd.get_dummies(I['PLAYING ROLE'])

     Allrounder  Batsman  Bowler  W. Keeper
0             1        0       0          0
1             0        0       1          0
2             0        0       1          0
3             0        0       1          0
4             0        1       0          0
..          ...      ...     ...        ...
125           0        1       0          0
126           0        1       0          0
127           0        1       0          0
128           0        0       1          0
129           0        0       1          0

[130 rows x 4 columns]

In [25]:
Cf = ['AGE', 'COUNTRY', 'PLAYING ROLE', 'CAPTAINCY EXP']

In [26]:
In=pd.get_dummies(I[Xf], columns= Cf, drop_first=True)

In [27]:
In.columns

Index(['T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'RUNS-S', 'HS ', 'AVE', 'SR -B', 'SIXERS', 'RUNS-C', 'WKTS', 'AVE-BL',
       'ECON', 'SR-BL', 'AGE_2', 'AGE_3', 'COUNTRY_BAN', 'COUNTRY_ENG',
       'COUNTRY_IND', 'COUNTRY_NZ', 'COUNTRY_PAK', 'COUNTRY_SA', 'COUNTRY_SL',
       'COUNTRY_WI', 'COUNTRY_ZIM', 'PLAYING ROLE_Batsman',
       'PLAYING ROLE_Bowler', 'PLAYING ROLE_W. Keeper', 'CAPTAINCY EXP_1'],
      dtype='object')

In [28]:
In

,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR -B,...,COUNTRY_NZ,COUNTRY_PAK,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_1
0,0,0,0,0.00,0,0.0,0,0,0.000000,0.000000,...,0,0,1,0,0,0,0,0,0,0
1,214,18,657,71.41,185,37.6,0,0,0.000000,0.000000,...,0,0,0,0,0,0,0,1,0,0
2,571,58,1269,80.62,288,32.9,167,39,18.555556,121.014493,...,0,0,0,0,0,0,0,1,0,0
3,284,31,241,84.56,51,36.8,58,11,5.800000,76.315789,...,0,0,0,0,0,0,0,1,0,0
4,63,0,79,45.93,0,0.0,1317,71,32.925000,120.714940,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,0,0,0,0.00,0,0.0,49,16,9.800000,125.640000,...,0,0,0,0,0,0,1,0,0,0
126,6398,7,6814,75.78,3,86.6,3,3,3.000000,42.850000,...,0,1,0,0,0,0,1,0,0,1
127,1775,9,8051,87.58,109,44.3,1237,66,26.319149,131.876333,...,0,0,0,0,0,0,1,0,0,1
128,1114,288,790,73.55,278,35.4,99,23,9.900000,91.666667,...,0,0,0,0,0,0,0,1,0,0
129,288,64,343,95.81,108,39.4,11,10,11.000000,122.220000,...,0,0,0,1,0,0,0,1,0,0

In [29]:
Xf=In.columns

In [30]:
X = In[Xf]
# Y = I['SOLD PRICE']

In [31]:
Cor = X.corr().abs()
Cor

,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR -B,...,COUNTRY_NZ,COUNTRY_PAK,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_1
T-RUNS,1.000000,0.026285,0.892823,0.231411,0.045505,0.067700,0.410143,0.411209,0.374028,0.114301,...,0.078977,0.034201,0.067612,0.104836,0.133967,0.016597,0.384422,0.356923,0.106095,0.690647
T-WKTS,0.026285,1.000000,0.088276,0.012052,0.822940,0.060641,0.218544,0.268432,0.265554,0.147757,...,0.004727,0.016370,0.080644,0.147270,0.011655,0.040595,0.276450,0.405434,0.148530,0.088782
ODI-RUNS-S,0.892823,0.088276,1.000000,0.319264,0.056554,0.126795,0.523955,0.495765,0.446280,0.194111,...,0.078666,0.027848,0.024607,0.138013,0.107451,0.021818,0.367995,0.439249,0.141647,0.714058
ODI-SR-B,0.231411,0.012052,0.319264,1.000000,0.160114,0.284584,0.306338,0.360086,0.340331,0.375368,...,0.109576,0.067246,0.003757,0.098844,0.039412,0.012233,0.083485,0.193205,0.073803,0.291373
ODI-WKTS,0.045505,0.822940,0.056554,0.160114,1.000000,0.124361,0.198101,0.209109,0.222074,0.030409,...,0.020447,0.082970,0.037786,0.257665,0.004124,0.058876,0.358824,0.359333,0.218286,0.077536
ODI-SR-BL,0.067700,0.060641,0.126795,0.284584,0.124361,1.000000,0.027772,0.067615,0.053775,0.051679,...,0.056829,0.016369,0.083771,0.076880,0.060253,0.026320,0.014689,0.066866,0.353423,0.103315
RUNS-S,0.410143,0.218544,0.523955,0.306338,0.198101,0.027772,1.000000,0.834631,0.767009,0.380025,...,0.017446,0.206051,0.015433,0.022329,0.005894,0.069425,0.418555,0.525628,0.239187,0.352422
HS,0.411209,0.268432,0.495765,0.360086,0.209109,0.067615,0.834631,1.000000,0.876252,0.531032,...,0.135315,0.187916,0.010261,0.005006,0.050969,0.078740,0.408826,0.643720,0.266624,0.392749
AVE,0.374028,0.265554,0.446280,0.340331,0.222074,0.053775,0.767009,0.876252,1.000000,0.583579,...,0.047452,0.196173,0.020242,0.041334,0.073533,0.066836,0.432462,0.666092,0.216213,0.378258
SR -B,0.114301,0.147757,0.194111,0.375368,0.030409,0.051679,0.380025,0.531032,0.583579,1.000000,...,0.029239,0.039436,0.093151,0.101379,0.030092,0.020114,0.157905,0.379788,0.155117,0.176920
SIXERS,0.216571,0.198036,0.376012,0.320041,0.148722,0.033616,0.866213,0.788439,0.705362,0.425392,...,0.001657,0.170089,0.046439,0.067519,0.132593,0.065626,0.294896,0.468085,0.204539,0.254991
RUNS-C,0.253083,0.297302,0.268950,0.004855,0.327122,0.196887,0.160762,0.235327,0.278485,0.063172,...,0.093181,0.172704,0.028739,0.016928,0.027497,0.075279,0.436411,0.483428,0.272659,0.277903
WKTS,0.277157,0.289735,0.302745,0.022502,0.302466,0.151594,0.220959,0.291494,0.343967,0.069820,...,0.105355,0.134587,0.032637,0.037869,0.048947,0.069557,0.422958,0.515049,0.251934,0.300074
AVE-BL,0.299001,0.162464,0.225110,0.018959,0.217309,0.416629,0.101820,0.176051,0.120401,0.057895,...,0.035695,0.095449,0.032200,0.008726,0.008456,0.098193,0.366335,0.197298,0.355650,0.183779
ECON,0.329069,0.117483,0.249834,0.019027,0.230178,0.313323,0.179469,0.254471,0.202297,0.076227,...,0.000262,0.041571,0.057623,0.082319,0.047050,0.110980,0.288462,0.233821,0.401965,0.248984
SR-BL,0.309123,0.205201,0.237537,0.017526,0.259778,0.402507,0.118582,0.193014,0.140806,0.068268,...,0.030826,0.111822,0.011521,0.016876,0.018182,0.100591,0.395196,0.229013,0.364338,0.198708
AGE_2,0.266649,0.178391,0.242422,0.011977,0.125708,0.133908,0.085762,0.022883,0.031759,0.181189,...,0.026593,0.066996,0.020554,0.003456,0.079862,0.062977,0.170277,0.003700,0.171940,0.109261
AGE_3,0.481406,0.307701,0.421164,0.033812,0.286795,0.011693,0.051298,0.071177,0.021939,0.118469,...,0.040813,0.004536,0.088503,0.026852,0.026069,0.046130,0.187832,0.058405,0.102437,0.288702
COUNTRY_BAN,0.052211,0.030064,0.045689,0.000838,0.086572,0.011782,0.073879,0.115159,0.149134,0.273193,...,0.021004,0.024012,0.032985,0.028077,0.019367,0.007752,0.057639,0.123091,0.028077,0.059759
COUNTRY_ENG,0.062215,0.011321,0.004261,0.114020,0.018143,0.098813,0.064597,0.016540,0.117430,0.037778,...,0.036665,0.041917,0.057579,0.049013,0.033808,0.013532,0.011180,0.109935,0.049013,0.116191
COUNTRY_IND,0.179278,0.147490,0.168224,0.168609,0.187669,0.022494,0.209292,0.034029,0.037862,0.049029,...,0.197920,0.226267,0.310814,0.264571,0.182498,0.073046,0.071734,0.167443,0.005824,0.192539
COUNTRY_NZ,0.078977,0.004727,0.078666,0.109576,0.020447,0.056829,0.017446,0.135315,0.047452,0.029239,...,1.000000,0.065062,0.089373,0.076076,0.052476,0.021004,0.007437,0.170637,0.041661,0.131452
COUNTRY_PAK,0.034201,0.016370,0.027848,0.067246,0.082970,0.016369,0.206051,0.187916,0.196173,0.039436,...,0.065062,1.000000,0.102173,0.086972,0.059992,0.024012,0.046289,0.061085,0.017716,0.075749
COUNTRY_SA,0.067612,0.080644,0.024607,0.003757,0.037786,0.083771,0.015433,0.010261,0.020242,0.093151,...,0.089373,0.102173,1.000000,0.119470,0.082409,0.032985,0.091971,0.070037,0.042312,0.098454
COUNTRY_SL,0.104836,0.147270,0.138013,0.098844,0.257665,0.076880,0.022329,0.005006,0.041334,0.101379,...,0.076076,0.086972,0.119470,1.000000,0.070148,0.028077,0.092785,0.052705,0.009887,0.012318
COUNTRY_WI,0.133967,0.011655,0.107451,0.039412,0.004124,0.060253,0.005894,0.050969,0.073533,0.030092,...,0.052476,0.059992,0.082409,0.070148,1.000000,0.019367,0.016001,0.079862,0.070148,0.008497
COUNTRY_ZIM,0.016597,0.040595,0.021818,0.012233,0.058876,0.026320,0.069425,0.078740,0.066836,0.020114,...,0.021004,0.024012,0.032985,0.028077,0.019367,1.000000,0.057639,0.062977,0.276093,0.129720
PLAYING ROLE_Batsman,0.384422,0.276450,0.367995,0.083485,0.358824,0.014689,0.418555,0.408826,0.432462,0.157905,...,0.007437,0.046289,0.091971,0.092785,0.016001,0.057639,1.000000,0.468262,0.208767,0.314284
PLAYING ROLE_Bowler,0.356923,0.405434,0.439249,0.193205,0.359333,0.066866,0.525628,0.643720,0.666092,0.379788,...,0.170637,0.061085,0.070037,0.052705,0.079862,0.062977,0.468262,1.000000,0.228101,0.380528
PLAYING ROLE_W. Keeper,0.106095,0.148530,0.141647,0.073803,0.218286,0.353423,0.239187,0.266624,0.216213,0.155117,...,0.041661,0.017716,0.042312,0.009887,0.070148,0.276093,0.208767,0.228101,1.000000,0.183890
CAPTAINCY EXP_1,0.690647,0.088782,0.714058,0.291373,0.077536,0.103315,0.352422,0.392749,0.378258,0.176920,...,0.131452,0.075749,0.098454,0.012318,0.008497,0.129720,0.314284,0.380528,0.183890,1.000000

In [32]:
upper1 = Cor.where(np.triu(np.ones(Cor.shape),k=1).astype(bool))
upper1

,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR -B,...,COUNTRY_NZ,COUNTRY_PAK,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_1
T-RUNS,NaN,0.026285,0.892823,0.231411,0.045505,0.067700,0.410143,0.411209,0.374028,0.114301,...,0.078977,0.034201,0.067612,0.104836,0.133967,0.016597,0.384422,0.356923,0.106095,0.690647
T-WKTS,NaN,NaN,0.088276,0.012052,0.822940,0.060641,0.218544,0.268432,0.265554,0.147757,...,0.004727,0.016370,0.080644,0.147270,0.011655,0.040595,0.276450,0.405434,0.148530,0.088782
ODI-RUNS-S,NaN,NaN,NaN,0.319264,0.056554,0.126795,0.523955,0.495765,0.446280,0.194111,...,0.078666,0.027848,0.024607,0.138013,0.107451,0.021818,0.367995,0.439249,0.141647,0.714058
ODI-SR-B,NaN,NaN,NaN,NaN,0.160114,0.284584,0.306338,0.360086,0.340331,0.375368,...,0.109576,0.067246,0.003757,0.098844,0.039412,0.012233,0.083485,0.193205,0.073803,0.291373
ODI-WKTS,NaN,NaN,NaN,NaN,NaN,0.124361,0.198101,0.209109,0.222074,0.030409,...,0.020447,0.082970,0.037786,0.257665,0.004124,0.058876,0.358824,0.359333,0.218286,0.077536
ODI-SR-BL,NaN,NaN,NaN,NaN,NaN,NaN,0.027772,0.067615,0.053775,0.051679,...,0.056829,0.016369,0.083771,0.076880,0.060253,0.026320,0.014689,0.066866,0.353423,0.103315
RUNS-S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.834631,0.767009,0.380025,...,0.017446,0.206051,0.015433,0.022329,0.005894,0.069425,0.418555,0.525628,0.239187,0.352422
HS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.876252,0.531032,...,0.135315,0.187916,0.010261,0.005006,0.050969,0.078740,0.408826,0.643720,0.266624,0.392749
AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.583579,...,0.047452,0.196173,0.020242,0.041334,0.073533,0.066836,0.432462,0.666092,0.216213,0.378258
SR -B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.029239,0.039436,0.093151,0.101379,0.030092,0.020114,0.157905,0.379788,0.155117,0.176920
SIXERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001657,0.170089,0.046439,0.067519,0.132593,0.065626,0.294896,0.468085,0.204539,0.254991
RUNS-C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.093181,0.172704,0.028739,0.016928,0.027497,0.075279,0.436411,0.483428,0.272659,0.277903
WKTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.105355,0.134587,0.032637,0.037869,0.048947,0.069557,0.422958,0.515049,0.251934,0.300074
AVE-BL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.035695,0.095449,0.032200,0.008726,0.008456,0.098193,0.366335,0.197298,0.355650,0.183779
ECON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000262,0.041571,0.057623,0.082319,0.047050,0.110980,0.288462,0.233821,0.401965,0.248984
SR-BL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.030826,0.111822,0.011521,0.016876,0.018182,0.100591,0.395196,0.229013,0.364338,0.198708
AGE_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.026593,0.066996,0.020554,0.003456,0.079862,0.062977,0.170277,0.003700,0.171940,0.109261
AGE_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.040813,0.004536,0.088503,0.026852,0.026069,0.046130,0.187832,0.058405,0.102437,0.288702
COUNTRY_BAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.021004,0.024012,0.032985,0.028077,0.019367,0.007752,0.057639,0.123091,0.028077,0.059759
COUNTRY_ENG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.036665,0.041917,0.057579,0.049013,0.033808,0.013532,0.011180,0.109935,0.049013,0.116191
COUNTRY_IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.197920,0.226267,0.310814,0.264571,0.182498,0.073046,0.071734,0.167443,0.005824,0.192539
COUNTRY_NZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.065062,0.089373,0.076076,0.052476,0.021004,0.007437,0.170637,0.041661,0.131452
COUNTRY_PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.102173,0.086972,0.059992,0.024012,0.046289,0.061085,0.017716,0.075749
COUNTRY_SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.119470,0.082409,0.032985,0.091971,0.070037,0.042312,0.098454
COUNTRY_SL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.070148,0.028077,0.092785,0.052705,0.009887,0.012318
COUNTRY_WI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.019367,0.016001,0.079862,0.070148,0.008497
COUNTRY_ZIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.057639,0.062977,0.276093,0.129720
PLAYING ROLE_Batsman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.468262,0.208767,0.314284
PLAYING ROLE_Bowler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.228101,0.380528
PLAYING ROLE_W. Keeper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.183890
CAPTAINCY EXP_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
Drop1 = [column for column in upper1.columns if any(upper1[column]>0.80)]
Drop1

['ODI-RUNS-S', 'ODI-WKTS', 'HS ', 'AVE', 'SIXERS', 'WKTS', 'SR-BL']

In [34]:
X.drop(Drop1, axis=1, inplace=True)

In [35]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   T-RUNS                  130 non-null    int64
 1   T-WKTS                  130 non-null    int64
 2   ODI-SR-B                130 non-null    float64
 3   ODI-SR-BL               130 non-null    float64
 4   RUNS-S                  130 non-null    int64
 5   SR -B                   130 non-null    float64
 6   RUNS-C                  130 non-null    int64
 7   AVE-BL                  130 non-null    float64
 8   ECON                    130 non-null    float64
 9   AGE_2                   130 non-null    uint8
 10  AGE_3                   130 non-null    uint8
 11  COUNTRY_BAN             130 non-null    uint8
 12  COUNTRY_ENG             130 non-null    uint8
 13  COUNTRY_IND             130 non-null    uint8
 14  COUNTRY_NZ              130 non-null    uint8
 15  COUNTRY_PAK             130 non-null    uint8
 16  COUNTRY_SA              130 non-null    uint8
 17  COUNTRY_SL              130 non-null    uint8
 18  COUNTRY_WI              130 non-null    uint8
 19  COUNTRY_ZIM             130 non-null    uint8
 20  PLAYING ROLE_Batsman    130 non-null    uint8
 21  PLAYING ROLE_Bowler     130 non-null    uint8
 22  PLAYING ROLE_W. Keeper  130 non-null    uint8
 23  CAPTAINCY EXP_1         130 non-null    uint8
dtypes: float64(5), int64(4), uint8(15)
memory usage: 11.2 KB